<div class="row">
    <!-- ko foreach: cityList -->
    <button data-bind="text: name, click: $parent.setCurrentCity"></button>
    <!-- /ko -->
    <h2 data-bind="text: message, attr: {'data-city': currentCity().name}"></h2>
</div>
<div class="row">
    <div class="col-md-9 col-md-push-3">
        <ul class="nav nav-tabs">
            <li class="active" role="presentation"><a data-toggle="tab" href="#map">Map</a></li>
            <li role="presentation"><a data-toggle="tab" href="#cards">Favorites</a></li>
            <li role="presentation"><a data-toggle="tab" href="#store-detail">Store Detail</a></li>
        </ul>
        <div class="tab-content">
            <div id="map" class="tab-pane fade in active"></div>
            <div id="cards" class="tab-pane fade">
                <div data-bind="component:{
                        name: 'favorite-list-view',
                        params: {
                            favoritesList: favoritesList
                        }
                    }">
                </div>
            </div>
            <div id="store-detail" class="tab-pane fade">
                <div data-bind="component:{
                        name: 'detail-view',
                        params: {
                            shopDetails: shopResult,
                            shopPhoto: shopPhoto,
                            favoritesList: favoritesList
                        }
                    }">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
        <div data-bind="component:{
            name: 'side-list',
            params: {
            shopList: shopList,
            favoritesList: favoritesList
            }
        }">

        </div>
    </div>
</div>








