<div data-bind="if: shopDetails().name">
    <h2 data-bind='text: shopDetails().name'></h2>

    <!--<p data-bind='text: placeData()'></p>-->
    <p data-bind='text: message'></p>
    <p data-bind="text: shopDetails().formatted_address"></p>
    <img data-bind="attr: {src: shopPhoto, alt: shopDetails().name}">
    <p data-bind="text: shopDetails().formatted_address"></p>
    <!--<div data-bind="component:{-->
                        <!--name: 'image-from-google',-->
                        <!--params: { placeData: placeData()}-->
                    <!--}">-->
    <!--</div>-->


</div>

<div data-bind="ifnot: shopDetails().name">
    <h2>You haven't selected a store yet</h2>
    <p>Choose a store from the map or from the list on the side</p>
</div>
