<div data-bind="if: shopDetails().name">
    <header class="detail-view">
        <!-- ko if: shopPhoto -->
        <img data-bind="attr: {src: shopPhoto, alt: shopDetails().name}">
        <!-- /ko -->
        <!-- ko ifnot: shopPhoto -->
        <img src="./images/cigar-default.jpg" data-bind="attr: {alt: shopDetails().name}">
        <!-- /ko -->
        <h2 data-bind='text: shopDetails().name'></h2>
    </header>
    <div class="row">
        <div class="favorites">
            <div data-bind="component:{
                        name: 'favorite-view',
                        params: {
                            shopDetails: shopDetails,
                            favoritesList: favoritesList
                        }
                    }">
            </div>
        </div>
        <div class="google-details col-md-6">
            <h3>From Google</h3>
            <p data-bind="text: shopDetails().vicinity"></p>
            <p class="phone">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                <a data-bind="attr: {url: shopDetails().international_phone_number}">
                    <span data-bind="text: shopDetails().formatted_phone_number"></span>
                </a>
            </p>
            <div class="opening-hours">
                <h4>
                    <!-- ko if: shopDetails().opening_hours.open_now -->
                    <span class="open">Open Now</span>
                    <!-- /ko -->
                    <!-- ko if: !shopDetails().opening_hours.open_now -->
                    <span class="closed">Closed Now</span>
                    <!-- /ko -->
                </h4>
                <p>Hours of operation</p>
                <ul data-bind="foreach: shopDetails().opening_hours.weekday_text">
                    <li data-bind="text: $data"></li>
                </ul>
            </div>
            <div class="reviews">
                <h3>Google Reviews Rating: <span data-bind="text: shopDetails().rating"></span> Stars</h3>
                <p><b>Recent Reviews</b></p>
                <!-- ko foreach: { data: shopDetails().reviews, as: 'review' } -->
                <div class="review-box clearfix">
                    <p><b>Rating: <span data-bind="text: review.rating"></span> stars</b> - <span
                            data-bind="text: review.relative_time_description"></span></p>
                    <img data-bind="attr: {src: profile_photo_url}" width="50px" class="align-left">
                    <p data-bind="text: review.text"></p>
                    <p><a data-bind="attr: {href: review.author_url}" target="_blank"><em data-bind="text: review.author_name"></em></a>
                    </p>
                </div>
                <!-- /ko -->
            </div>

        </div>
        <div class="yelp-details col-md-6">
            <div data-bind="component:{
                        name: 'yelp-details',
                        params: { shopDetails: shopDetails}
                    }">
            </div>
            <div id="small-map"></div>
        </div>

    </div>


</div>

<div data-bind="ifnot: shopDetails().name">
    <h2>You haven't selected a store yet</h2>
    <p>Choose a store from the map or from the list on the side</p>
</div>
