<div data-bind="if: shopDetails().name">
    <header class="detail-view">
        <img data-bind="attr: {src: shopPhoto, alt: shopDetails().name}">
        <h2 data-bind='text: shopDetails().name'></h2>
    </header>
    <div class="row">
        <div class="google-details col-md-6">
            <div class="favorites">
                <div data-bind="component:{
                        name: 'favorite-view',
                        params: { shopDetails: shopDetails}
                    }">
                </div>
            </div>
            <p data-bind="text: shopDetails().formatted_address"></p>
        </div>
        <div class="yelp-details col-md-6">
            <div data-bind="component:{
                        name: 'yelp-details',
                        params: { shopDetails: shopDetails}
                    }">
            </div>
        </div>

    </div>


</div>

<div data-bind="ifnot: shopDetails().name">
    <h2>You haven't selected a store yet</h2>
    <p>Choose a store from the map or from the list on the side</p>
</div>
