<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter Results <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li data-bind="click: $parent.displayRickFavorietesOnly"><a>Rick's Favorites</a></li>
        <li data-bind="click: $parent.displayYourFavorietesOnly"><a>Your Favorites</a></li>
        <li data-bind="click: $parent.displayAll"><a>All Results</a></li>
    </ul>
</div>

<div id="shop-list" class="list-group">
    <!-- ko foreach: shopList -->
    <button type="button" class="list-group-item"
            data-bind="text: placeName, click: $parents[1].setCurrentShop"></button>
    <!-- /ko -->

</div>
